.navbar-inverse {
	background-image: linear-gradient(to bottom, #3c3c3c 0, #bc5a45 100%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-color: #222;
	margin-top: 10px;
	overflow: hidden;
	padding: 10px;
	font-size: 16px;
}
.navbar-right {
	margin-right: 10px;
}
.page-header {
	border-top: 1px solid #3c3c3c;
	border-bottom: 1px solid #3c3c3c;
	padding: 2px;
}
.page-header h1 {
	color: rgb(5, 19, 0);
}
.notfound-header1 {
	color: rgb(253, 19, 0);
	text-align: center;
}
.notfound-header2 {
	color: gray;
	text-align: center;
}
div.jumbotron {
	background: url("https://www.spiti24.gr/modules/spiti24/images/hero/residential.jpg");
	height: 350px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.jumbotron h1 {
	font-size: 18px;
	font-weight: bold;
	color: rgba(78, 76, 177, 0.8);
	margin-top: 260px;
}
.select {
	padding: 20px;
	width: 50%;
	margin-left: 25%;
}
.spinner {
	margin-left: 50%;
	margin-right: 50%;
}
.file-form {
	padding: 20px;
	width: 75%;
	margin-left: 10%;
}
.file-form-label {
	margin-left: 15px;
	font-size: 20px;
}
.file-form-control {
	height: 150px;
	margin: 10px;
}

.btn.btn-success {
	margin-left: 15px;
}
.btn.btn-primary {
	float: right;
	width: 10%;
	margin-bottom: 10px;
	margin-right: 70px;
}
.api-form {
	padding: 20px;
	width: 75%;
	margin-left: 10%;
}
.api-form-label {
	margin-left: 15px;
	font-size: 20px;
}
.api-form-control {
	height: 50px;
	margin: 10px;
}
.panel.panel-default {
	font-size: 100px;
	margin-left: auto;
	margin-right: auto;
}
div.panel-body {
	font-size: 16px;
}

div.panel-title {
	padding: 3px;
	font-weight: bold;
	font-size: 17px;
	color: #405d27;
	text-align: center;
}
.panel1-width {
	width: 80%;
}
.panel2-width {
	width: 70%;
}
.panel3-width {
	width: 60%;
}
.panel4-width {
	width: 50%;
}

.list-item {
	font-size: 16px;
	padding: 10px;
	margin: 3px;
}
.each-house {
	width: 46%;
	height: 350px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 2%;
	padding: 20px;
}

#show-houses-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.list-item-title {
	font-weight: bold;
	color: gray;
	margin-right: 2px;
}
.list-group {
	list-style: none;
}

.carousel-inner {
	width: 600px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin: auto;
	margin-top: 20px;
}

.slider.carousel.slide {
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: auto;
}
.slider-main {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
.description {
	margin-top: 40px;
	font-weight: bold;
	text-align: center;
}
.description-par {
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
	padding: 5px;
}
#accordion-uncontrolled-example {
	margin-top: 10px;
	font-family: sans-serif;
}
.house-title {
	overflow: initial;
	font-weight: bold;
	font-size: 17px;
}
.btn.btn-danger {
	position: absolute;
	margin-bottom: 5px;
}
.btn.btn-info {
	margin-bottom: 5px;
}
.cont-report {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}
.valid {
	font-weight: bold;
	color: #d64161;
	font-style: italic;
}
.report-list {
	list-style: none;
}
.report-item {
	padding: 12px;
	font-size: 16px;
}
.cont-report-header {
	color: gray;
}
.report-p {
	font-size: 16px;
}
.no-data {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px;
	margin-top: 100px;
}
.price-heading {
	color: #bc5a45;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.readme-header {
	text-align: center;
	color: rgb(2, 4, 76);
	padding: 10px;
	margin-bottom: 25px;
}
.readme-paragraph {
	line-height: 20px;
	font-size: 16px;
	padding: 5px;
}
.instructions-header {
	color: rgb(1, 30, 83);
	padding: 10px;
}
.readme-ordered {
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
}
.unordered-item {
	font-size: 14px;
}
.readme-unordered {
	list-style: disc;
}
.readme-end {
	font-size: 16px;
	padding: 5px;
}
.next {
	float: right;
	color: red;
}
@media screen and (max-width: 720px) {
	.jumbo-container {
		width: 100%;
		height: 350px;
	}
	.each-house {
		width: 100%;
		height: 350px;
	}
	.btn.btn-danger {
		margin-top: auto;
	}
	.slider-main {
		width: auto;
	}
	.carousel-inner {
		width: auto;
		height: auto;
	}
	.image {
		width: auto;
	}
}
@media screen and (max-width: 1000px) {
	.slider-main {
		width: auto;
	}
}
