.navbar-inverse {
	background-image: linear-gradient(to bottom, #3c3c3c 0, #bc5a45 100%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-color: #222;
	margin-top: 10px;
	height: 70px;
	padding: 10px;
	font-size: 16px;
}
.navbar-right {
	margin-right: 10px;
}
/* nav.navbar,
.navbar-default {
	background-color: orange;
	height: 70px;
}

.navbar-default {
	background-image: none;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-brand {
	color: rgb(223, 238, 223);
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: black;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: rgb(25, 27, 4);
	background-color: transparent;
} */
/* .nav navbar.navbar-inverse {
	background-color: orange;
} */
.select {
	padding: 20px;
	width: 50%;
	margin-left: 25%;
}
.file-form {
	/* display: flex; */

	padding: 20px;
	width: 75%;
	margin-left: 10%;
}
.file-form-label {
	margin-left: 15px;
	font-size: 20px;
}
.file-form-control {
	height: 150px;
	margin: 10px;
}

.btn.btn-success {
	margin-left: 15px;
}
.api-form {
	padding: 20px;
	width: 75%;
	margin-left: 10%;
}
.api-form-label {
	margin-left: 15px;
	font-size: 20px;
}
.api-form-control {
	height: 50px;
	margin: 10px;
}

div.panel-body {
	font-size: 16px;
}

div.panel-title {
	padding: 3px;

	font-size: 20px;
	color: darkgoldenrod;
}

div#accordion-example.panel-group {
	margin-left: 4px;
	width: 100%;
}
.list-item {
	width: 25%;
	display: flex;
	background-color: rgb(199, 214, 213);
	font-size: 16px;
	font-family: cursive;
	padding: 10px;
	margin: 3px;
}
.LI-span {
	font-weight: bold;
}
.description-par {
	text-align: center;
	font-family: sans-serif;
}
.jumbo-container {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

/* border: 1px solid black; */

.list-item-title {
	font-weight: bold;
	color: gray;
}
.list-group {
	display: flex;
}
.image {
	margin: auto;
	margin-top: 20px;
}
.slider.carousel.slide {
	height: 500px;
}
.panel {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#accordion-uncontrolled-example {
	margin-top: 10px;
	font-size: 16px;
	font-family: cursive;
}
.btn.btn-danger {
	margin-left: 800px;
}
.cont-report {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}
.valid {
	font-weight: bold;
	color: #d64161;
	font-style: italic;
}
.report-list {
	list-style: none;
}
.report-item {
	padding: 12px;
	font-size: 16px;
}
.cont-report-header {
	color: gray;
}
.report-p {
	font-size: 16px;
}
.no-data {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px;
	margin-top: 100px;
}
.price-heading {
	color: #bc5a45;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
